provider "aws" {
    region = "us-east-1"
}

data "aws_ami" "ec2-ami" {
  filter {
    name   = "state"
    values = ["available"]
  }
  filter {
    name   = "tag:Name"
    values = ["Liatrio-Project-AMI"]
  }
  owners=["AMIOWNER"]
  most_recent = true
}

resource "aws_instance" "liatrio-jenkins-nexus" {
    ami = "${data.aws_ami.ec2-ami.id}"
    key_name = "LiatrioKeyPairFinal"
    instance_type = "m5.xlarge"
    tags = {
        Name = "liatrio-jenkins-nexus"
    }
}
